extends layout

block content

  section.mobile_view
    p
      | Little
      span &nbsp;Chef&nbsp;
      | Ivy is creating a movement of change in the way restaurants feed their kid patrons.

    p
      | Hi! My Name is Ivy, I'm 10 years old and I'm a
      span &nbsp;little chef!&nbsp;
      | I love to eat with my parents at awesome restaurants, but I find myself not having a
      span &nbsp;healthy&nbsp;
      | choice when I receive a kids' menu. There are only 5 choices on many kids menus&mdash;you know the list! Chicken fingers, burgers and fries, mac and cheese, pasta with butter or unseasoned marinara...
      br
      span oh&nbsp;
      | and maybe a hotdog.

    p
      | Well, one day my
      span &nbsp;family&nbsp;
      | and I were traveling and they didn't want to spend a lot of money on
      span &nbsp;food&nbsp;
      | for the kids, so all we had was the choices from the kids menu. By the end of our vacation, I was sick, bloated and
      span &nbsp;not happy!&nbsp;
      | I wondered, "why don't restaurants offer items off of the adult menu that a child can have without the adult price?"

    p
      | So now I have decided to ask the
      span &nbsp;questions&nbsp;
      | that nobody is daring to ask!

    img(src='images/heart.png', width='100%', height='auto', class='heart')
    h2 ivy

  section.wide_view
    div.ivys_story_column
      p
        | Little
        span &nbsp;Chef&nbsp;
        | Ivy is creating a movement of change in the way restaurants feed their kid patrons.

      p
        | Hi! My Name is Ivy, I'm 10 years old and I'm a
        span &nbsp;little chef!&nbsp;
        | I love to eat with my parents at awesome restaurants, but I find myself not having a
        span &nbsp;healthy&nbsp;
        | choice when I receive a kids' menu. There are only 5 choices on many kids menus&mdash;you know the list! Chicken fingers, burgers and fries, mac and cheese, pasta with butter or unseasoned marinara...
        br
        span oh&nbsp;
        | and maybe a hotdog.

    div.ivys_story_column.middle_column
      h1
        | I
        span &nbsp;love&nbsp;
        | to eat too!
      img(src='images/ivys-story-main-image.png', width='100%', height='auto')

    div.ivys_story_column
      p
        | Well, one day my
        span &nbsp;family&nbsp;
        | and I were traveling and they didn't want to spend a lot of money on
        span &nbsp;food&nbsp;
        | for the kids, so all we had was the choices from the kids menu. By the end of our vacation, I was sick, bloated and
        span &nbsp;not happy!&nbsp;
        | I wondered, "why don't restaurants offer items off of the adult menu that a child can have without the adult price?"

      p
        | So now I have decided to ask the
        span &nbsp;questions&nbsp;
        | that nobody is daring to ask!
      img(src='images/heart.png', width='100%', height='auto', class='heart')
      h2 ivy
