extends layout

block content
  iframe(id="themovie", width="100%", height="auto", src="https://www.youtube.com/embed/zxrWfDH1lYM", frameborder="0", allowfullscreen, autoplay="1", modestbranding="1")
  iframe(width="100%", height="auto", src="https://www.youtube.com/embed/CnxjTG1W1vs", frameborder="0", allowfullscreen, autoplay="1", modestbranding="1")
  iframe(width="100%", height="auto", src="https://www.youtube.com/embed/v_ceMr_MFy8", frameborder="0", allowfullscreen, autoplay="1", modestbranding="1")
  iframe(width="100%", height="auto", src="https://www.youtube.com/embed/saooIZlqz1w", frameborder="0", allowfullscreen, autoplay="1", modestbranding="1")

