nav
  ul
    li
      a.nav_link_main(href="/littleChefIvy/")
        span Welcome
      a.nav_link_mobile(href="/littleChefIvy/")
        span.fa.fa-home
    li
      a.nav_link_main(href="/littleChefIvy/ivys-story.html")
        span Ivy's Story
      a.nav_link_mobile(href="/littleChefIvy/ivys-story.html")
        span.fa.fa-book
    li
      a.nav_link_main(href="/littleChefIvy/lets-cook.html")
        span Let's Cook
      a.nav_link_mobile(href="/littleChefIvy/lets-cook.html")
        span.fa.fa-cutlery
    li
      a.nav_link_main(href="/littleChefIvy/movies.html")
        span Movies
      a.nav_link_mobile(href="/littleChefIvy/movies.html")
        span.fa.fa-film
    li
      a.nav_link_main(href="/littleChefIvy/say-hi.html")
        span Say Hi
      a.nav_link_mobile(href="/littleChefIvy/say-hi.html")
        span.fa.fa-hand-peace-o
